.button {
  display: flex;
  align-items: center;
  padding: 30px;
  padding-left: 40px;
  font-size: 12px;
  font-weight: 700;
  line-height: 14.6px;
  border: none;
  color: $font-white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: $accent-main-color;
  letter-spacing: 2.5px;

  &:hover,
  &:focus {
    background-color: $hover-accent-color;
  }
}
