.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 40px);
  height: 40px;
  margin: auto;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  border: none;
  color: $font-white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: $background-green;

  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
