$tablet-width: 768px;
$desktop-width: 1440px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$background-green: #68b738;
$background-grey: #f2f3f3;
$background-white: #ffffff;
$border-color-block: #ededed;
$border-color-input: #cdcdcd;
$font-black: #111111;
$font-medium-black: #222222;
$font-grey: #444444;
$font-white: #ffffff;
